manifest {
	description = 'smMIPS Mutations Detection pipeline implemented using Nextflow' 
	author = 'Tuhina Srivastava'
	nextflowVersion = '20.10.0'
}

params {
	input = "/home/diagnostics/pipelines/WholeGenomePipeline/sample_list.csv"
	bedfile = "/home/pipelines/bedfile/06112021_Leukemia_Panel_sorted"
	adaptors = "/home/programs/Trimmomatic-0.39/adapters/TruSeq2-PE.fa"
	sequences = "/home/diagnostics/pipelines/WholeGenomePipeline/sequences"
	bamfile = "/home/diagnostics/pipelines/WholeGenomePipeline/Final_Output"
	genome = "/home/reference_genomes/hg19_broad/hg19_all.fasta"
	samtools = "/home/programs/samtools-1.7/samtools"
	bedtools = "/usr/bin/bedtools"
	flt3_bedfile = "/home/pipelines/bedfile/FLT3_pindel"
	site1 = "/home/reference_genomes/dbSNPGATK/Mills_and_1000G_gold_standard.indels.hg19.sites.vcf"
	site2 = "/home/reference_genomes/dbSNPGATK/dbsnp_138.hg19.vcf"
	site3 = "/home/reference_genomes/dbSNPGATK/1000G_phase1.snps.high_confidence.hg19.sites.vcf"
	cycle = "500"
	trimmomatic_path = "/home/programs/Trimmomatic-0.39/"
	ea_utils_path= "/home/programs/ea-utils/clipper"
	picard_path = "/home/programs/picard/build/libs/picard.jar"
	picard_interval = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/leukemia_interval.list"
	pear_path = "/home/programs/pear-0.9.10-linux-x86_64/bin/pear"
	GATK38_path = "/home/programs/GenomeAnalysisTK-3.8-1-0-gf15c1c3ef/GenomeAnalysisTK.jar"
	freebayes_path = "/home/programs/freebayes/bin/freebayes"
	platypus_path = "/home/programs/Platypus/bin/Platypus.py"
	vardict_path = "/home/programs/VarDictJava/build/install/VarDict/bin"
	varscan_path = "/home/programs/VarScan.v2.3.9.jar"
	bcftools_path = "/home/programs/bcftools-1.9/bcftools"
	strelka_path = "/home/programs/strelka-2.9.2.centos6_x86_64/bin"
	NA12878_bam = "/home/reference_genomes/NA12878/NA12878.final.bam"
	lofreq_path = "/home/programs/lofreq_star-2.1.4_linux-x86-64/bin/lofreq"
	coverview_path = "/home/programs/CoverView-1.4.3"
	cava_path = "/home/programs/CAVA/"
	somaticseq_path = "/home/miniconda3/bin/somaticseq_parallel.py"
	annovarLatest_path= "/home/programs/annovar_latest/annovar/"
	bam2pindel= "/home/programs/pindel-master/bam2pindel.pl"
	pindel= "/home/programs/pindel-master/"
	pindel_config_script = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/make_config.sh"
	cnvkitRef = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/cnvkit_combpanel/Reference_combpanel.cnn"
	genome_minimap_getitd = "/home/reference_genomes/hg37_chr/hg37_chr/hg37.fa"
	get_itd_path = "/home/programs/GET_ITD_1_5_15/getitd/"
	splitvcf_path = "/home/programs/somaticseq-3.6.3/build/lib/somaticseq/vcfModifier/splitVcf.py"
	java_path = "/usr/lib/jvm/java-8-openjdk-amd64/bin/"
	abra2_path = "/home/programs/ABRA2"
	mosdepth_script = "/home/diagnostics/pipelines/WholeGenomePipeline/scripts/mosdepth.sh"
	trim_galore_path = "/home/programs/TrimGalore-0.6.5/trim_galore"

	coverview_script_path = "/home/pipelines/mutation_detector_nextflow/scripts/coverview.py"
	coverview_report_path = "/home/pipelines/mutation_detector_nextflow/scripts/coverview_report.py"
	cava_script_path = "/home/diagnostics/pipelines/WholeGenomePipeline/scripts/cava.py"
	coveragePlot_script = "/home/pipelines/mutation_detector_nextflow/scripts/coverageplot.py"
	format_platypus_script = "/home/pipelines/mutation_detector_nextflow/scripts/platypusoutput-format.py"
	format_freebayes_script = "/home/pipelines/mutation_detector_nextflow/scripts/freebayesoutput-format.py"
	format_vardict_script = "/home/pipelines/mutation_detector_nextflow/scripts/vardictoutput-format.py"
	format_combined_script = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/combineoutput-format_v2.py"
	format_somaticseq_script = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/somaticseqoutput-format_v2.py"
	format_concat_script = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/concat_combine_somatic.py"
	format_remove_artefact_script = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/remove_artefacts.py"
	artefactFile = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/artefacts.csv"
	format_pindel_script = "/home/pipelines/mutation_detector_nextflow/scripts/pindel_format_csv.py"
	merge_csvs_script = "/home/diagnostics/pipelines/WholeGenomePipeline/scripts/merge.py"
	pharma_marker_script = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/pharma_markers_v2.py"
	pharma_input_xlxs = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/For_pharmacogenomics.xlsx"
	gene_scatter = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/gene_scatter"  
	pcgr_script_path = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/pcgr.sh"
	variant_call_path = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/variant_callers.py"
	vcf_sorter_path = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/vcf_sorter.sh"
	ensemblid_path = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/GENE_IDS/ensemblids.dat"
	concat_script_path = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/concat_pcgr_cpsr.py"
	pcgr_cpsr_script_path = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/add_pcgr_cpsr.py"
	pcgr_cpsr_script_path2 = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/add_pcgr_cpsr2.py"
	cnvkit_path = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/cnvkit.sh"
	vep_script_path = "/home/diagnostics/pipelines/WholeGenomePipeline/scripts/vep_analysis.sh"
	vep_extract_path = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/vep_extract.py"
	cancervar = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/CancerVar.sh"
	cancervar_extract = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/cancervar_extract.py"
	mutect2 = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/mutect2.sh"
	acmg_scripts = "/home/pipelines/NextSeq_mutation_detector_leukemia/scripts/acmg/"

	flash_path="/home/programs/FLASH-1.2.11/flash"
	annovar2_path="/home/programs/annovar_latest/annovar/"
	combinedCsvFormat_script_path="/home/pipelines/mutation_detector_nextflow/scripts/combined_csv-format.py"
	formatLofreq_script_path="/home/pipelines/mutation_detector_nextflow/scripts/lofreqoutput-format.py"
	formatMutect_script_path="/home/pipelines/mutation_detector_nextflow/scripts/mutectoutput-format.py"
	formatVardict_script_path="/home/pipelines/mutation_detector_nextflow/scripts/vardictoutput-format.py"
	KDMdb_script_path="/home/pipelines/mutation_detector_nextflow/scripts/search_KDMmutationDB.py"
	mergeAmpliconCsv_path="/home/pipelines/mutation_detector_nextflow/scripts/merge_csv_Amplicon.py"

	extract_somatic_script_path = '/home/diagnostics/pipelines/WholeGenomePipeline/scripts/extract_somatic.py'
	extract_velheader_script_path = '/home/diagnostics/pipelines/WholeGenomePipeline/scripts/extract_velheader.py'
	mergeSomaticvep_script_path = '/home/diagnostics/pipelines/WholeGenomePipeline/scripts/mergeSomaticVep.py'
}

executor {
	cpus   = 25
}

trace {
	enabled = true
	file = './Final_Output/pipeline_trace.txt'
	fields = 'hash,task_id,name,status,exit,realtime,%cpu,rss'
}
